<nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo center">Logo</a>
          <ul id="" class="left hide-on-med-and-down">
            <li><a routerLink="/new">ADD</a></li>
            <li><a routerLink="/edit">EDIT</a></li>
            <li><a  routerLink="/del">DELETE</a></li>
            <li><a routerLink="/view">View</a></li>
            <li><a routerLink="/about">about</a></li>
            <li><a  routerLink="/contact">contact</a></li>
            <li><a  routerLink="/service">Service</a></li>
            
          </ul>
        </div>
      </nav>
            
