<p>mark works!</p>
<div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s6">
              <input placeholder="Placeholder" id="first_name" type="text" class="validate" name="n1"[(ngModel)]="num1">
              <label for="Number 1">Mark</label>
            </div>
            <button  (click)="add();" class="btn waves-effect waves-light" type="submit" name="action">submit
                    <i class="material-icons right"></i>
                  </button>
          <label for="" *ngIf  >{{result}}</label>
